.red {
    width:75px;
    height:100px;
    background-color:red;
}
.green {
    width:130px;
    height:100px;
    background-color:green;
}
.yellow {
    width:100px;
    height:100px;
    background-color:yellow;
}
.blue {
    width:350px;
    height:100px;
    background-color:blue;
}