<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/signup">Signup</a>
    <a href="/users">Users</a>
    <h1>Welcome to Home!</h1>
</body>
</html>
