<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/signup">Signup</a>
    <a href="/users">Users</a>
    <h1>Signup</h1>
    <form action="#" method="POST">
        <label>Username: </label><input type="text" name="username"><br>
        <label>Email: </label><input type="email" name="email"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
