<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>
<body>
    <h1>List of Users</h1>
    <ul>
        <% for(let user of users) { %>
            <li>
                <strong>ID:</strong> <%= user.id %>
                <strong>Name:</strong> <%= user.name %>  
            </li>
        <% } %>
    </ul>
</body>
</html>